@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	color: white;
}

:root {
	/* ### primary */
	--red: hsl(0, 100%, 74%);
	--green: hsl(154, 59%, 51%);

	/* ### accent */
	--blue: hsl(248, 32%, 49%);

	/* ### neutral */
	--dark-blue: hsl(249, 10%, 26%);
	--grayish-blue: hsl(246, 25%, 77%);

	--margin: 1em;
}

body {
	min-height: 100vh;
	display: grid;
	grid-template-rows: 1fr auto;
	align-content: start;
	justify-content: center;
	background-image: url(./images/bg-intro-mobile.png);
	background-color: var(--red);
}

main {
	display: flex;
	flex-direction: column;
	max-width: 370px;
	margin: 1em var(--margin);
	gap: var(--margin);
}

/* UTILITY CLASSES */

.flex-column {
	display: flex;
	flex-direction: column;
}
.box-shadow {
	box-shadow: 0 0.5em 0 0 rgb(0, 0, 0, 0.1);
}

.hover:hover {
	cursor: pointer;
	filter: brightness(1.2);
}

.hover:active {
	filter: brightness(1);
	transform: translateY(2px);
}

.error {
	margin-bottom: 1em;
	border-color: var(--margin);
}

.error input {
	border: 2px solid var(--red) !important;
}

.error::after {
	content: attr(data-error);
	position: absolute;
	bottom: -1.5em;
	right: 0;
	color: var(--red);
	font-size: 0.7em;
	font-style: italic;
}

.error::before {
	content: "!";
	position: absolute;
	width: 1.5em;
	height: 1.5em;
	right: 1em;
	top: 50%;
	transform: translateY(-50%);
	background-color: var(--red);
	border-radius: 50%;
	display: grid;
	place-content: center;
}

/* DESCRIPTION */

#description {
	text-align: center;
	gap: var(--margin);
	margin: 4em 0;
}

/* PROMOTION */

#promotion {
	border: none;
	text-align: center;
	background-color: var(--blue);
	padding: var(--margin) 0;
	border-radius: 0.5em;
}

/* REGISTRATION */

#registration {
	gap: var(--margin);
	padding: calc(var(--margin) * 1.5);
	background-color: white;
	border-radius: 0.5em;
}

.input-containers {
	display: flex;
	position: relative;
}

.input-containers input {
	all: unset;
	width: 100%;
	color: black;
	padding: var(--margin);
	border-radius: 0.25em;
	border: 1px solid var(--grayish-blue);
	font-size: 0.9em;
	font-weight: 600;
}

#registration button {
	border: none;
	padding: var(--margin);
	background-color: var(--green);
	text-align: center;
	border-radius: 0.25em;
	text-transform: uppercase;
	border-bottom: 0.25em solid rgb(0, 125, 0, 0.3);
}

#tnc {
	color: var(--grayish-blue);
	text-align: center;
	font-size: 0.7em;
	padding: 0 2em;
}

#tnc strong {
	color: var(--red);
}

/* FOOTER */

.attribution {
	bottom: 0;
	font-size: 0.5em;
	text-align: center;
	color: var(--dark-blue);
}

.attribution a {
	color: var(--blue);
}

@media screen and (min-width: 50em) {
	main {
		display: grid;
		grid-template-columns: 1fr 1fr;
		max-width: 65em;
		height: min-content;
		margin: auto var(--margin);
		column-gap: calc(var(--margin) * 3);
	}

	#description {
		text-align: unset;
		margin: auto 0;
		grid-row: 1/3;
	}

	#description h1 {
		font-size: 3em;
		line-height: 1.2em;
	}

	#promotion {
		display: unset;
		font-size: 0.9em;
	}

	#registration {
		padding: calc(var(--margin) * 2);
	}

	#registration input {
		padding: var(--margin) calc(var(--margin) * 2);
		font-size: 0.9em;
	}
}
